.dayContainer {
  position: relative;
  width: 100%;
}

.dayHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectCardsContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.clear {
  clear: both;
}

.projectContainer {
  display: flex;
  justify-content: space-evenly;
  min-width: 40%;
  max-width: 40%;
  margin: 5px;
  
}